/*@font-face {
  font-family: BigNoodleTitling;
  src: url("../../../database/public/uploads/big_noodle_titling.ttf");
}*/

h2 {
  text-transform: uppercase;
  font-family: 'BigNoodleTitling';
  font-size: 2vw;
  color: black !important;
  margin-bottom: 2vw;
}

.text {
  font-family: 'Roboto';
  font-size: 1vw;
  margin-right: 15%;
  margin-left: 15%;
}

.logoWhy {
  justify-content: center;
  margin-bottom: 2vw;
}