@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'BigNoodleTitling';
  text-align: center;
  font-size: 3.5vw;
  color: black;
  margin-bottom: 3.5vw !important;
  letter-spacing: 0.5vw;
  text-transform: uppercase;
}

p {
  margin-bottom: 4vw;
}

.customImg{
  height: 50vh !important;
  border-radius: 25px;
}