body {
    background-image: url("../../../database/public/uploads/Fond_df4fc7d404.png");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    color: black;
}
.customImg{
    height: 50vh !important;
    border-radius: 25px;
}