.img-news {
  width: 75vw;
  height: 40vh;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5rem;
  margin-bottom: 5rem;
}

.content {
  font-family: 'Roboto';
  font-size: 1.1vw;
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-right: 20%;
  margin-left: 20%;
}