.teamBanner {
  margin: auto;
  border-radius: 6.9vw;
  width: 70vw;
  margin-bottom: 4vh;
}

.line-up {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  font-size: 7.75vh;
  border-bottom: 0.4vw solid;
  border-color: #DFCB7D;
  margin-bottom: 4vh;
}

.teamH3 {
  font-family: 'BigNoodleTitling';
  margin-left: 4vw;
  width: 18.17vw;
  font-size: 6.6vh;
  text-align: left;
  border-bottom: 0.22vw solid;
  border-color: #135066;
  margin-bottom: 4vw;
}

.imgCard {
  position: absolute;
}

.playerCard {
  font-family: 'BigNoodleTitling';
  font-size: 2vw;
  text-align: left;
  text-shadow: #135066 0.1vw 0.1vw 0.05vw;
  vertical-align: text-bottom;
  border-radius: 1vw;
  margin-left: 4vw;
  margin-bottom: 4vw;
}

.blueOne {
  color: #135066;
}