@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');

/* GENERAL */

svg { /* logos */
  padding: 15px;
  vertical-align: center;
  text-align: center;
} 

/* CONTAINERS */
footer {
  border-top: 1px solid rgb(164, 164, 164);
  padding-top: 2vh;
  background-color: transparent;
  height: auto;
}

footer img {
  width: 60%;
}

footer h3 {
  font-size: 2rem;
}

h5 {
  letter-spacing: 0.13em;
  font-size: 0.9rem; 
  margin: 0;
  padding: 0;
}

.links-foot {
  margin-top: 3vh;
}

.footerLinks {
  border-top : 2px solid rgb(184, 184, 184);
  margin-top : 5vh;
  padding-top : 2vh;
  padding-bottom: 2vh;
  text-align: start !important;
  background-color: #fff;
} .footerLinks a {
  text-transform: none !important;
}


/* SPONSORS AND PARTNERS */
.img-sponsor {
  max-height: 23.8vh;
  max-width: 13.8vw;
}

/* OTHER */

.footerCol {
  text-align: left;
  padding-left: 10vw;
  margin-top: 2vh;
}

.footer-media {
  padding-top: 2%;
  font-size: 2.25rem;
  color: #000;
}

.text-align-center {
  text-align: center;
}

.pdfs {
  padding-top: 1vh;
}

.about {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
}

.footerImg {
  width: 5rem!important;
}