a {
    text-decoration: none !important;
    color: black !important;
}

.logoNavbar {
    height: 5.5vw;
    width: auto;
    position: absolute;
    margin-top: -2vw;
    margin-left: -20%;
    margin-top: 2vw;
}

.marginNav {
    margin-top: 2vw;
    margin-bottom: 4vw;
}

.SetNavBar {
    font-family: 'BigNoodleTitling';
    font-size: 2vw;
    letter-spacing: 0.4vw;
    text-transform: uppercase;
    height: 5.7vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center !important;
}

.line {
    height: 0.3vw;
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    background-color: #135066;
}