@font-face {
    font-family: BigNoodleTitling;
    src: url(../../../../database/public/uploads/big_noodle_titling_f192dce92e.ttf);
}

.marginNav {
    margin-top: 4vw;
}

.SetNavBar {
    font-family: 'BigNoodleTitling';
    font-size: 2.5vw;
    color: black !important;
    letter-spacing: 0.5vw;
    text-transform: uppercase;
    /*background-image: url("../database/public/uploads/Logo_Colored_PNG_529f0a5229.png");*/
    background-position: 10%;
    background-size: 7vw;
    background-repeat: no-repeat;
    height: 7vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center !important;
}

.line {
    height: 0.3vw;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #135066;
}