@font-face {
    font-family: BigNoodleTitling;
    src: url("../../../database/public/uploads/big_noodle_titling.ttf");
}

a {
    text-decoration: none !important;
    color: black !important;
}

.logoNavbar {
    height: 5.5vw;
    width: auto;
    position: absolute;
    margin-left: -40%;

}

.marginNav {
    margin-top: 2vw;
}

.SetNavBar {
    font-family: 'BigNoodleTitling';
    font-size: 2vw;
    letter-spacing: 0.4vw;
    text-transform: uppercase;
    /* background-image: url("../../../database/public/uploads/Logo_Colored_PNG_529f0a5229.png");
    background-position: 8%;
    background-size: 5.5vw;
    background-repeat: no-repeat; */
    height: 5.7vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center !important;
}

.line {
    height: 0.3vw;
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    background-color: #135066;
}