/*@font-face {
    font-family: BigNoodleTitling;
    src: url("../../../database/public/uploads/big_noodle_titling_f192dce92e.ttf");
}*/

.nav-link {
    color: black !important;
}

.SetNavBar {
    font-family: 'BigNoodleTitling';
    font-size: 2vw;
    letter-spacing: 0.4vw;
    text-transform: uppercase;
    background-image: url("../../../database/public/uploads/Logo_Colored_PNG_529f0a5229.png");
    background-position: 8%;
    background-size: 5.7vw;
    background-repeat: no-repeat;
    height: 5.7vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center !important;
}

.line {
    height: 0.3vw;
    width: 55%;
    margin-left: 22.5%;
    margin-right: 22.5%;
    background-color: #135066;
}