@font-face {
    font-family: BigNoodleTitling;
    src: url("../../../../database/public/uploads/big_noodle_titling.ttf");
}

body {
    text-align: center;
    text-transform: uppercase;
}

.marginStaff {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    
}

.imageStaff {
    border-radius: 50px;
}