@font-face {
    font-family: BigNoodleTitling;
    src: url(http://localhost:1337/uploads/big_noodle_titling_f192dce92e.ttf?updated_at=2022-04-12T14:14:51.076Z);
}

.TitleFont {
    font-family: BigNoodleTitling;
    color: black;
    font-size: 2rem;
}

.logoNav {
    height: 5rem;
    width: auto;
}

.test {
    padding-left: 500px;
}