/*Custom Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #999C99;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #555;
}
::-webkit-scrollbar-thumb:hover {
  background: #434343;
}

@font-face {
  font-family: 'BigNoodleTitling';
  src: url(../database/public/uploads/big_noodle_titling.ttf);
}

body {
  background-image: url("http://localhost:1337/uploads/large_fond_67ca86be6c.png?updated_at=2022-04-20T08:54:53.956Z");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
}